<ul class="list-group ">
  <li class="list-group-item category-item d-flex justify-content-between align-items-center">
    <a (click)="get($event)" data-key="js">JavaScript</a>
  </li>
  <li class="list-group-item category-item d-flex justify-content-between align-items-center">
    <a (click)="get($event)" data-key="php">Php</a>
  </li>
  <li class="list-group-item category-item d-flex justify-content-between align-items-center">
    <a (click)="get($event)" data-key="java">Java</a>
  </li>
</ul>
